[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"
autopep8 = "*"
requests = "*"

[packages]
fastapi = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
uvicorn = "*"
psycopg2 = "*"
alembic = "*"
pydantic = "*"
starlette = "*"
starlette-prometheus = "*"
sqlalchemy-utils = "*"
python-dotenv = "*"
rx = "*"
jinja2 = "*"
aiofiles = "*"
sentry-sdk = "*"
lru-cache = "*"
gino = {extras = ["starlette"], version = "*"}
python-json-logger = "*"
starlette-context = "*"
unicorn = "*"

[requires]
python_version = "3.8"
